<!DOCTYPE html>
<html lang="en" ng-app="courier">
<head>
  <base href="/"></base>
  <link rel="stylesheet" href="assets/{{css}}.css" />
  <meta charset="UTF-8">
  <title>Courier</title>
</head>
<body>
  <!-- header -->
  <div class="container">
    <ng-view> </ng-view>
  </div>
  <!-- footer -->
  <script src="bower/angular/angular.js"></script>
  <script src="bower/angular-route/angular-route.js"></script>
  <script src="bower/firebase/firebase.js"></script>
  <script src="bower/angularfire/dist/angularfire.js"></script>
  <script src="bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
